@model Product

@{
    List<Category> categories = ViewData["Categories"] as List<Category> ?? new List<Category>();
}

<div class="product-create-section">
    <div class="product-create">
        <h2>PRODUCT - CREATE</h2>
        <form enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input type="text" asp-for="Title" placeholder="Title">
                <span asp-validation-for="Title" class="text-error validation-span"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input type="text" asp-for="Description" placeholder="Description">
                <span asp-validation-for="Description" class="text-error validation-span"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input type="text" asp-for="Price" placeholder="Price">
                <span asp-validation-for="Price" class="text-error validation-span"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select id="Category" asp-for="CategoryId">
                    @for (int i = 0; i < categories.Count; i++)
                    {
                        <option value="@categories[i].Id">@categories[i].Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile">Image File</label>
                <input type="file" accept="image/*" asp-for="ImageFile" placeholder="Image Url">
                <span asp-validation-for="ImageFile" class="text-error"></span>
            </div>
            <div class="buttons-table-product-update">
                <a class="nav-link product-go-back" asp-controller="product" asp-action="index" asp-area="admin">
                    <button class="btn-back">Cancel</button>
                </a>
                <a class="nav-link create-product"><button class="btn-success create-product-btn">Submit</button></a>
            </div>
        </form>
    </div>
</div>



