@model Dictionary<string, string>

<header class="navbar site-header">
    <a asp-area="" asp-controller="home" asp-action="index" class="logo">WanderQuest</a>

    <nav class="nav-menu" id="navMenu">
        <ul>
            <li><a asp-area="" asp-controller="home" asp-action="index" class="nav-link">Home</a></li>
            <li><a asp-area="" asp-controller="products" asp-action="index" class="nav-link">Products</a></li>
            <li><a href="@Model["Twitter"]" class="nav-link">About</a></li>
            <li><a href="#blog" class="nav-link">Blog</a></li>
            <li><a href="#contact" class="nav-link">Contact</a></li>
            <li class="nav-search">
                <form id="searchForm" autocomplete="off" method="get" action="/products/searchproduct">
                    <div class="search-container">
                        <input type="text" id="searchInput" name="title" placeholder="Search...">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
            @if(User.Identity.IsAuthenticated)
            {
                <li><a asp-area="" asp-controller="account" asp-action="profile" class="nav-link sign-in-header">@User.Identity.Name</a></li>
                <li><a asp-area="" asp-controller="account" asp-action="logout" class="nav-link sign-in-header">Logout</a></li>
            }
            else
            {
                <li><a asp-area="" asp-controller="account" asp-action="register" class="nav-link sign-in-header">Sign in</a></li>
            }
            <li class="wishlist-item">
                <a asp-area="" asp-controller="basket" asp-action="index" class="nav-link">
                    <span>Wishlist</span>
                    <span class="badge basketTotalCount"></span>
                    <span class="badge basketTotalPrice"></span>
                </a>
                <div class="wishlist-dropdown" id="hoverContainer">
                    <!-- Wishlist Hover -->
                </div>
            </li>
            
        </ul>
    </nav>

    <div class="hamburger" id="hamburger">
        <span></span><span></span><span></span>
    </div>
</header>






