@model List<Category>

<section class="packages" id="packages">
    <h2>Our Travel Packages</h2>
    <div class="filters">
        <button data-filter="all" class="filter-btn active">All</button>
        @for (int i = 0; i < Model.Count; i++)
        {
            <button data-filter="@Model[i].Name.ToLower()" class="filter-btn">@Model[i].Name</button>
        }

    </div>
    <div id="products" class="package-grid">
        @await Component.InvokeAsync("Products", new { take = 4 })
    </div>

    <div id="moreProductButton" class="more-products">
        <a asp-area="" asp-controller="products" asp-action="index" class="nav-link">
            <button class="button-more">More...</button>
        </a>
    </div>
</section>