@model Category

<div class="table-container">
    <div class="buttons-table-product">
        <a class="nav-link product-go-back" asp-controller="category" asp-action="index" asp-area="admin"><button class="btn-back">Go Back</button></a>
    </div>
    <h2>Categories</h2>
    <table class="table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>
                    <a asp-area="admin" asp-controller="category" asp-action="update" asp-route-id="@Model.Id">
                        <button class="btn-update">Update</button>
                    </a>
                    <button class="btn-delete">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>