
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderQuest Travel</title>
    <link rel="icon" type="image/jpg" href="~/assets/img/3b2fb682772f52e97b9dd8ba933b9493.jpg">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Lobster&display=swap" rel="stylesheet">
    <script defer src="~/assets/js/script.js"></script>
</head>
<body>
    <!-- Navbar -->

    @await Component.InvokeAsync("Header")

    <div>
        @RenderBody()
    </div>


    @await Component.InvokeAsync("Footer")

    @{
        await Html.RenderPartialAsync("_ValidationsPartial");
    }
</body>
</html>
