
<div class="main-container">
    <div class="left-section">
        <ul class="user-list">
            <li>
                <div class="search-item">
                    <input type="text" id="userSearchInput" class="search-bar" placeholder="Kullanıcı ara..." oninput="searchUsers()" />
                    <button class="btn-cancel-search"> x </button>
                </div>
            </li>
            <ul id="usersList">

            </ul>
        </ul>
    </div>
    <div class="right-section-empty">
        <div class="empty-content">
            <div style="font-size: 80px; opacity: 0.3; margin-bottom: 12px;">💬</div>

            <h2>No chat selected</h2>
            <p>Click on a user on the left to start chatting.</p>
        </div>
    </div>
    <div class="right-section">
        <div id="toast" class="toast"></div>    
        <div class="chat-container">
            <div class="chat-header">
                <div id="chatHeader">
                    <h2>Chat</h2>
                </div>
                <div class="trash-icon" id="deleteAllBtn">
                    🗑
                </div>
            </div>
            <div class="chat-messages" id="messagesList">
               
            </div>
            
            <div class="chat-input">
                <input type="hidden" id="receiverId" />
                <input type="text" class="message-input" id="messageInput" placeholder="Mesaj yaz..." />
                <button type="su" onclick="sendMessage()">Gönder</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

