@model List<Product>
<section class="packages" id="packages">
    <h2>Our Travel Packages</h2>
    @await Component.InvokeAsync("Categories")
    <div id="products" class="package-grid" id="packageGrid">
        <partial name="_ProductPartial"/>
        @* @await Component.InvokeAsync("Products", new { take = 4} ) *@
    </div>
    <div class="more-products">
        <a id="loadMore">
            <button class="button-more">Load More...</button>
        </a>
    </div>
</section>



