@model List<Product>
<section class="packages" id="packages">
    <div id="products" class="package-grid" id="packageGrid">
        <partial name="_ProductPartial"/>
    </div>
    <div class="more-products">
        <a id="loadMore">
            <button class="button-more">Load More...</button>
        </a>
    </div>
</section>

